.im-popup {
	/* Set position in ol-overlay-container item, which is automatically
	added into map canvas. So that the popup is displayed above the
	clicked point.*/
	position: absolute;
	left: -50px;
	bottom: 12px;

	min-width: 100px;
	padding: 5px;
	border-radius: 3px;
	background-color: #fff;
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
}
/* Add triangle to the popup */
.im-popup:before {
	content: "";
	position: absolute;
	border: 12px solid;
	border-color: #fff transparent transparent transparent;
	top: 100%;
	left: 40px;
	height: 0;
	width: 0; 
}

/* First part */
.im-popup-header {
	background-color: #fff;
}

/* Second part, include setting and closer */
.im-popup-nav {
	height: 10px;
}

.im-popup-setting {
	position: absolute;
	left: 8px;
	text-decoration: none;
	color: #000;
}
.im-popup-setting:after {
	content: "#";
}

.im-popup-closer {
	position: absolute;
	right: 8px;
	text-decoration: none;
	color: #000;
}
.im-popup-closer:after {
	content: "×";
}

/* Third part, the texts */
.im-popup-content {
	text-align: center;
	vertical-align: center;
	color: #000;
}